[submodule "dealii"]
	path = dealii
	url = git@github.com:dealii/dealii.git

[submodule "trilinos"]
	path = trilinos
	url = https://software.sandia.gov/trilinos/repositories/publicTrilinos

[submodule "petsc"]
	path = petsc
	url = https://bitbucket.org/petsc/petsc

[submodule "slepc"]
	path = slepc
	url = https://bitbucket.org/slepc/slepc

[submodule "p4est"]
	path = p4est
	url = git@github.com:cburstedde/p4est.git 

[submodule "oce"]
	path = oce
	url = git@github.com:cburstedde/p4est.git 

[submodule "aspect"]
	path = aspect
	url = git@github.com:luca-heltai/aspect.git
